*{
    color: white;
    text-align: center;
}
h2{
    text-decoration: underline;
}

body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 5%;
    background-color: rgb(82, 65, 92);
}
.head{
    text-align: center;
}

.head p{
    font-size: 20px;
    font-weight: bold;
}
main{
    display: grid;
    grid-template-rows: auto;
    gap: 15%;
}
section{
    border-radius: 5px;
    background: rgb(28,43,87);
}

.stock-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,
    minmax(130px, 1fr));
    gap: 10px;
}
.stock{
    background: rgb(28,43,87);
    background: radial-gradient(circle, rgba(28,43,87,1) 0%,
    rgba(4,7,98,1) 61%, rgba(0,3,40,1) 100%);
}
.stock div{
    display: grid;
    grid-template-columns: repeat(auto-fit,
    minmax(10px, 1fr));
}
.stock button:first-child, .user-btns button:first-child{
    padding: 10px 0;
    font-size: 18px;
    background-color: rgb(111, 12, 38);
}
.stock button:first-child:hover, .user-btns button:first-child:hover{
    cursor: pointer;
    background-color: rgba(197, 41, 83, 0.8929);
}

.stock button:last-child, .user-btns button:last-child{
    padding: 10px 0;
    font-size: 18px;
    background-color: rgb(74, 123, 6);
}
.stock button:last-child:hover, .user-btns button:last-child:hover{
    cursor: pointer;
    background-color: rgba(130, 216, 9, 0.892);
}

.stock input[type=number]::-webkit-inner-spin-button,
.stock input[type=number]::-webkit-outer-spin-button{
   -webkit-appearance:none;
}
.stock input{
    color: black;
    font-size: 18px;
}

.user-container{
    display: grid;
    background: rgb(51, 20, 70);
    border: solid rgb(65, 28, 87) 1px;
    border-radius: 5px;
}
.user-btns, .user-stocks{
  display:grid;  
  grid-template-columns: repeat(auto-fit,
  minmax(120px, 1fr));
  gap: 10px;
}
.user-money, .user-details{
    display:grid;  
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.275);
  }

.user-stocks span{
    display:grid;  
    border: solid 1px rgb(191, 0, 255);
    background: rgb(28,43,87);
    background: radial-gradient(circle, rgb(65, 28, 87) 0%,
    rgb(63, 4, 98) 61%, rgb(15, 0, 40) 100%);
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    margin-bottom: 15px;
}

.user-container input{
    font-size: 18px;
    width: 60%;
    height: 60%;
    justify-self: center;
    align-self: center;
    background-color: black;
    border: solid 1px rgb(166, 143, 172);
    border-radius: 5px;
}