
.main {
    flex-direction: column;
    height: 95vh;
    flex-basis: 100vw;
    display: flex;
    justify-items: center;
}

.main-head{
    height: 6%;
    max-height: 6%;
    margin: 0 auto;
    text-align: center;
}
.main-head h1{
    padding: 0;
    margin: 0 auto;
}
.main-head h4{
    color: red;
    padding: 0;
    margin: 1% auto;
    font-size: 20px;
}
.stock-header, .users-header{
    display: flex;
    width: 80%;
    align-self: center;
    justify-self: center;
}
.stock-header h5, .users-header h5{
    font-size: 20px;
    margin: 0 1%;
    flex: 1.5;
    white-space: nowrap;
    align-self: flex-start;
}
.users-header h5:nth-child(3){
    flex: 10;
    text-align: center;
}
.stock-header h5:nth-child(3){
    flex: 3;
    text-align: center;
}

.stock-main, .users-main {
    display: flex;
    flex-direction: column;
    width:  100%;
}
.stock-main h4 {
    margin: 0 auto;
    padding: 0;
    color: red;
    font-size: 20px;
}
.users-main{
    height: 35%;
}
.stock-main{
    height: 65%;
}
.stock, .user{
    width: 80%;
    align-self: center;
    justify-self: center;
    margin: 0.5% 2%;
}
.stock{
    height: 14%;
}
.user{
    height: 21%;
}
.stock-name, .stock-price, .stock-input,
.buy-btn, .sell-btn, .username, .user-balance,
.users-shares, .user-btn{
    padding: 2%;
    align-self: center;
    justify-self: center;
    width: 10%;
    text-align: center;
    font-size: 20px;
}

.stock-input{
    display:flex;
    padding: 0;
    height: 40%;
    width: 15%;
    background:white;
    align-content: space-between;
    justify-content: space-between;
    border-radius: 5px;
 }
 .stock-input input[type=number]::-webkit-inner-spin-button,
 .stock-input input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance:none;
 }
 .stock-input input,.stock-input button{
    margin: 0 auto;
    width:33.3%;
    background:white;
    border:1px solid #aaa;
    color: black;
 }
 .stock-input input{
    border-left:none;
    border-right:none;
 }
.buy-btn, .sell-btn{
    color: white;
    border: 1px solid black;
    border-radius: 3px;
}
.buy-btn{
    background-color: rgba(74, 123, 6, 0.679);
}
.sell-btn{
    background-color: rgba(111, 12, 38, 0.892);
}
.buy-btn:hover, .add1:hover{
    cursor: pointer;
    background-color: rgba(130, 216, 9, 0.57);
}
.sell-btn:hover,  .minus1:hover{
    cursor: pointer;
    background-color: rgba(197, 41, 83, 0.679);
}

.stock-form, .user{
    padding: 0 1%;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
}
.stock-form{
    height: 100%;
    background-color: rgba(90, 125, 211, 0.349);
    border: 1px solid rgba(51, 109, 255, 0.349);
}
.user{
    background-color: rgba(92, 204, 129, 0.349);
    border: 1px solid rgba(3, 109, 38, 0.493);
}
.active{
    border : 1px solid red;
    background-color : lightgreen;
}
.user-btn{
    padding: 0;
    height: 70%;
    border-radius: 3px;
    color: white;
    background: rgba(7, 7, 235, 0.713)
}
.user-btn:hover{
    cursor: pointer;
    background-color: rgba(38, 38, 196, 0.672)
}
.username{
    height: 100%;
    padding: 0;
}
.users-shares{
    display: flex;
    width: 65%;
    height:100%;
    padding: 0;
    margin: 0;
    flex-direction: row;
    justify-content: space-between;
}
.shares-div{
    margin: 1%;
    border-radius: 3px;
    color: rgb(15, 36, 102);
    border: 2px solid rgba(5, 60, 0, 0.453);
    background-color: rgba(246, 247, 247, 0.44);
    height: 80%;
    width: 22%;
}
.company-name, .quantity{
    text-align: center;
    padding: 2% 1%;
    margin: 0 auto;
}